defaults:
  db:
    location: localhost
    name: army_ant
    type: mongo
  eval:
    metrics:
      favorite:
        - GMAP
        - MAP
        - NDCG@10
        - P@10
    location: /opt/army-ant/eval
  service:
    ner:
      entity_list: /opt/army-ant/gazetteers/all.txt
  depend:
    stanford-ner: /opt/stanford-ner-2015-12-09
  jvm:
    memory: 5120
    other_args: -XX:+UseConcMarkSweepGC

engines:
  lucene-wapo-sample:
    name: WaPo Sample - Lucene
    db:
      name: aa_wapo
    index:
      type: lucene
      location: /opt/army-ant/indexes/wapo-sample/lucene
    ranking:
      default:
        id: tf_idf
      functions:
        tf_idf:
          name: TF-IDF
        bm25:
          name: BM25
          params:
            k1: [1, 1.2, 1.8]
            b: [0.5, 0.75, 1]
        dfr:
          name: DFR
          params:
            BM: [BE, G, P, D, In, Ine, IF]
            AE: [L, B, Disabled]
            N: [H1, H2, H3, Z, Disabled]

  hgoe-wapo-sample:
    name: WaPo Sample - Hypergraph-of-Entity
    db:
      name: aa_wapo
    index:
      type: hgoe
      location: /opt/army-ant/indexes/wapo-sample/hgoe
      preload: false
    ranking:
      default:
        id: random_walk
        params:
          l: 2
          r: 100
      functions:
        jaccard:
          name: Jaccard Score
        random_walk:
          name: Random Walk Score
          params:
            l: [1, 2, 3, 4, 5, 6]
            r: [10, 100, 250, 500, 750, 1000, 10000, 100000]

  hgoe-doc_profile-wapo-sample:
    name: WaPo Sample - Hypergraph-of-Entity (AE's Doc Profile)
    db:
      name: aa_wapo
    index:
      type: hgoe
      location: /opt/army-ant/indexes/wapo-sample/hgoe-doc_profile
      preload: false
    ranking:
      default:
        id: random_walk
        params:
          l: 2
          r: 100
      functions:
        jaccard:
          name: Jaccard Score
        random_walk:
          name: Random Walk Score
          params:
            l: [1, 2, 3, 4, 5, 6]
            r: [10, 100, 250, 500, 750, 1000, 10000, 100000]

  hgoe-dbpedia-wapo-sample:
    name: WaPo Sample - Hypergraph-of-Entity (DBpedia)
    db:
      name: aa_wapo
    index:
      type: hgoe
      location: /opt/army-ant/indexes/wapo-sample/hgoe-dbpedia
      preload: false
    ranking:
      default:
        id: random_walk
        params:
          l: 2
          r: 100
      functions:
        jaccard:
          name: Jaccard Score
        random_walk:
          name: Random Walk Score
          params:
            l: [1, 2, 3, 4, 5, 6]
            r: [10, 100, 250, 500, 750, 1000, 10000, 100000]

  gow-wikipedia:
    name: Wikipedia Data - Graph of Word
    message: >-
      Don't forget to launch Gremlin Server with the "gow_wikipedia" graph
      configured (e.g., "bin/gremlin-server.sh gremlin-server-neo4j.yaml").
    db:
      name: wikipedia_data
    index:
      type: gow
      location: localhost:8182/gow_wikipedia

  goe-wikipedia_data:
    name: Wikipedia Data - Graph of Entity
    message: >-
      Don't forget to launch Gremlin Server with the "goe_wikipedia" graph
      configured (e.g., "bin/gremlin-server.sh gremlin-server-neo4j.yaml").
    db:
      name: wikipedia_data
    index:
      type: goe
      location: localhost:8182/goe_wikipedia

  gow-inex-10t-nl:
    name: INEX 10T-NL - Graph of Word
    message: >-
      Don't forget to launch Gremlin Server with the "gow_inex_10t_nl" graph
      configured (e.g., "bin/gremlin-server.sh gremlin-server-neo4j.yaml").
    db:
      name: aa_inex
    index:
      type: gow
      location: localhost:8182/gow_inex_10t_nl

  goe-inex-10t-nl:
    name: INEX 10T-NL - Graph of Entity
    message: >-
      Don't forget to launch Gremlin Server with the "goe_inex_10t_nl" graph
      configured (e.g., "bin/gremlin-server.sh gremlin-server-neo4j.yaml").
    db:
      name: aa_inex
    index:
      type: goe
      location: localhost:8182/goe_inex_10t_nl

  goe-inex-10t-nl-comp:
    name: INEX 10T-NL - Graph of Entity (HGoE Compare Version)
    message: >-
      Don't forget to launch Gremlin Server with the "goe_inex_10t_nl_comp" graph
      configured (e.g., "bin/gremlin-server.sh gremlin-server-neo4j.yaml").
    db:
      name: aa_inex
    index:
      type: goe
      location: localhost:8182/goe_inex_10t_nl_comp

  lucene-inex-10t-nl:
    name: INEX 10T-NL - Lucene
    db:
      name: aa_inex
    index:
      type: lucene
      location: /opt/army-ant/indexes/inex-10t-nl/lucene
    ranking:
      default:
        id: tf_idf
        #params:
          #k1: 1.2
          #b: 0.75
      functions:
        tf_idf:
          name: TF-IDF
        bm25:
          name: BM25
          params:
            k1: [1, 1.2, 1.8]
            b: [0.5, 0.75, 1]
        dfr:
          name: DFR
          params:
            BM: [BE, G, P, D, In, Ine, IF]
            AE: [L, B, Disabled]
            N: [H1, H2, H3, Z, Disabled]

  hgoe-inex-10t-nl:
    name: INEX 10T-NL - Hypergraph-of-Entity
    db:
      name: aa_inex
    index:
      type: hgoe
      location: /opt/army-ant/indexes/inex-10t-nl/hgoe
      preload: false
    ranking:
      default:
        id: random_walk
        params:
          l: 3
          r: 100
      functions:
        jaccard:
          name: Jaccard Score
        random_walk:
          name: Random Walk Score
          params:
            l: [1, 2, 3, 4, 5, 6]
            r: [10, 100, 250, 500, 750, 1000]

  hgoe-syns-context-10t-nl-inex-52t-nl:
    name: INEX 10T-NL - Hypergraph-of-Entity (Synonyms; Context 52T-NL)
    db:
      name: aa_inex
    index:
      type: hgoe:syns:context
      location: /opt/army-ant/indexes/inex-10t-nl/hgoe-syns-context-52t-nl
      preload: false
    features:
      - context
      - syns
    ranking:
      default:
        id: random_walk
        params:
          l: 3
          r: 100
      functions:
        jaccard:
          name: Jaccard Score
        random_walk:
          name: Random Walk Score
          params:
            l: [1, 2, 3, 4, 5, 6]
            r: [10, 100, 250, 500, 750, 1000]

  hgoe-inex-30t-nl:
    name: INEX 30T-NL - Hypergraph of Entity
    db:
      name: aa_inex
    index:
      type: hgoe
      location: /opt/army-ant/indexes/inex-30t-nl/hypergraph-of-entity
      preload: false
    ranking:
      default:
        id: random_walk
        params:
          l: 3
          r: 100
      functions:
        jaccard:
          name: Jaccard Score
        random_walk:
          name: Random Walk Score
          params:
            l: [1, 2, 3, 4, 5, 6]
            r: [10, 100, 250, 500, 750, 1000]

  hgoe-inex-dev:
    name: INEX Dev - Hypergraph-of-Entity
    db:
      name: aa_inex
    index:
      type: hgoe
      location: /opt/army-ant/indexes/inex-dev/hypergraph-of-entity
      preload: false
    ranking:
      default:
        id: random_walk
        params:
          l: 3
          r: 100
      functions:
        jaccard:
          name: Jaccard Score
        random_walk:
          name: Random Walk Score
          params:
            l: [1, 2, 3, 4, 5, 6]
            r: [10, 100, 250, 500, 750, 1000]

  lucene-inex-dev:
    name: INEX Dev - Lucene
    db:
      name: aa_inex
    index:
      type: lucene
      location: /opt/army-ant/indexes/inex-dev/lucene
    ranking:
      default:
        id: tf_idf
        #params:
          #k1: 1.2
          #b: 0.75
      functions:
        tf_idf:
          name: TF-IDF
        bm25:
          name: BM25
          params:
            k1: [1, 1.2, 1.8]
            b: [0.5, 0.75, 1]
        dfr:
          name: DFR
          params:
            BM: [BE, G, P, D, In, Ine, IF]
            AE: [L, B, Disabled]
            N: [H1, H2, H3, Z, Disabled]

  hgoe-inex-3t-nl:
    name: INEX 3T-NL - Hypergraph-of-Entity
    db:
      name: aa_inex
    index:
      type: hgoe
      location: /opt/army-ant/indexes/inex-3t-nl/hgoe
      preload: false
    ranking:
      default:
        id: random_walk
        params:
          l: 3
          r: 100
      functions:
        jaccard:
          name: Jaccard Score
        random_walk:
          name: Random Walk Score
          params:
            l: [1, 2, 3, 4, 5, 6]
            r: [10, 100, 250, 500, 750, 1000]

  hgoe-syns-inex-3t-nl:
    name: INEX 3T-NL - Hypergraph-of-Entity (Synonyms)
    db:
      name: aa_inex
    index:
      type: hgoe:syns
      location: /opt/army-ant/indexes/inex-3t-nl/hgoe-syns
      preload: false
    features:
      - syns
    ranking:
      default:
        id: random_walk
        params:
          l: 3
          r: 100
      functions:
        jaccard:
          name: Jaccard Score
        random_walk:
          name: Random Walk Score
          params:
            l: [1, 2, 3, 4, 5, 6]
            r: [10, 100, 250, 500, 750, 1000]

  hgoe-context-52t-nl-inex-3t-nl:
    name: INEX 3T-NL - Hypergraph-of-Entity (Context 52T-NL)
    db:
      name: aa_inex
    index:
      type: hgoe:context
      location: /opt/army-ant/indexes/inex-3t-nl/hgoe-context-52t-nl
      preload: false
    features:
      - context
    ranking:
      default:
        id: random_walk
        params:
          l: 3
          r: 100
      functions:
        jaccard:
          name: Jaccard Score
        random_walk:
          name: Random Walk Score
          params:
            l: [1, 2, 3, 4, 5, 6]
            r: [10, 100, 250, 500, 750, 1000]

  hgoe-syns-context-52t-nl-inex-3t-nl:
    name: INEX 3T-NL - Hypergraph-of-Entity (Synonyms; Context 52T-NL)
    db:
      name: aa_inex
    index:
      type: hgoe:syns:context
      location: /opt/army-ant/indexes/inex-3t-nl/hgoe-syns-context-52t-nl
      preload: false
    features:
      - context
      - syns
    ranking:
      default:
        id: random_walk
        params:
          l: 3
          r: 100
      functions:
        jaccard:
          name: Jaccard Score
        random_walk:
          name: Random Walk Score
          params:
            l: [1, 2, 3, 4, 5, 6]
            r: [10, 100, 250, 500, 750, 1000]

  hgoe-context-52t-nl-syns-inex-3t-nl:
    name: INEX 3T-NL - Hypergraph-of-Entity (Context 52T-NL; Synonyms)
    db:
      name: aa_inex
    index:
      type: hgoe:context:syns
      location: /opt/army-ant/indexes/inex-3t-nl/hgoe-context-52t-nl-syns
      preload: false
    features:
      - context
      - syns
    ranking:
      default:
        id: random_walk
        params:
          l: 3
          r: 100
      functions:
        jaccard:
          name: Jaccard Score
        random_walk:
          name: Random Walk Score
          params:
            l: [1, 2, 3, 4, 5, 6]
            r: [10, 100, 250, 500, 750, 1000]

  lucene-inex-3t-nl:
    name: INEX 3T-NL - Lucene
    db:
      name: aa_inex
    index:
      type: lucene
      location: /opt/army-ant/indexes/inex-3t-nl/lucene
    ranking:
      default:
        id: tf_idf
        #params:
          #k1: 1.2
          #b: 0.75
      functions:
        tf_idf:
          name: TF-IDF
        bm25:
          name: BM25
          params:
            k1: [1, 1.2, 1.8]
            b: [0.5, 0.75, 1]
        dfr:
          name: DFR
          params:
            BM: [BE, G, P, D, In, Ine, IF]
            AE: [L, B, Disabled]
            N: [H1, H2, H3, Z, Disabled]

  gow-trec2017:
    name: TREC 2017 - Graph of Word
    message: >-
      Don't forget to launch Gremlin Server with the "gow_trec2017" graph configured
      (e.g., "gremlin-server-neo4j.yaml").
    db:
      name: aa_ssoar
    index:
      type: gow_csv
      location: localhost:8182/gow_trec2017

  goe-trec2017:
    name: TREC 2017 - Graph of Entity
    message: >- 
      Don't forget to launch Gremlin Server with the "goe_trec2017" graph configured
      (e.g., "gremlin-server-neo4j.yaml").
    db:
      name: aa_ssoar
    index:
      type: goe_csv
      location: localhost:8182/goe_trec2017
