<dl>
  <dt>Source</dt>
  <dd>
    <a href="http://cs.iit.edu/~culotta/data/wikipedia.html" target="_blank">
      Wikipedia Relation Extraction Data v1.0
    </a>
  </dd>
  
  <dt>Description</dt>
  <dd>
    <i>
      "This data contains Wikipedia pages for which links between pages have been annotated with a
      relation type, e.g. father, education, superior, etc. This data was created in collaboration
      between the University of Massachusetts and Google, Inc."
    </i>
  </dd>

  <dt>Example</dt>
  <dd>
    <code>url=http://en.wikipedia.org/wiki/Charles_Darwin
      In recognition of Darwin's pre-eminence, he was buried in &lt;a href="/wiki/Westminster_Abbey" title="Westminster Abbey" relation="death_place"&gt;Westminster Abbey&lt;/a&gt;, close to &lt;a href="/wiki/William_Herschel" title="William Herschel"&gt;William Herschel&lt;/a&gt; and &lt;a href="/wiki/Isaac_Newton" title="Isaac Newton"&gt;Isaac Newton&lt;/a&gt;.
    </code>
  </dd>

  <dt>Paper</dt>
  <dd>
    <blockquote>
      <p>Aron Culotta, Andrew McCallum, and Jonathan Betz. 2006. Integrating probabilistic
        extraction models and data mining to discover relations and patterns in text. In Proceedings
        of the main conference on Human Language Technology Conference of the North American Chapter
        of the Association of Computational Linguistics (HLT-NAACL '06). Association for
        Computational Linguistics, Stroudsburg, PA, USA, 296-303.
        DOI=http://dx.doi.org/10.3115/1220835.1220873</p>
      <cite><a href="http://dl.acm.org/citation.cfm?id=1220873" target="_blank">ACM Digital Library</a></cite>
    </blockquote>
  </dd>
</dl>
