[Unit]
Description=Army ANT Server %i

[Service]
User=jld
Group=jld
WorkingDirectory=/home/jld/army-ant
ExecStart=/home/jldevezas/.pyenv/shims/python /home/jld/army-ant/army-ant.py server --path=/tmp/army_ant_%i.sock

[Install]
WantedBy=multi-user.target
