{% extends "home.html" %}
{% block title %}
<title>{{ query if query }} {% if query %} - {% endif %} Army ANT</title>
{% endblock %}

{% set border_pages = 2 %}
{% set index_type = engine.split('-')[0] %}
{% set dataset = engine.split('-', 1)[1] %}

{% block content %}
<form class="form-horizontal">
  <div class="form-group">
    <div class="column col-5">
      <!-- form input control -->
      <div class="input-group">
        <input class="form-input input-lg" type="text" id="query" name="query" placeholder="Search" value="{{ query if query }}" />
        <button class="btn btn-primary btn-lg input-group-btn">Search</button>
      </div>
    </div>

    <div class="column col-4">
      <!-- form radio control -->
      <select class="form-select select-lg" id="engine" name="engine">
        {% for app_engine in app.engines %}
        <option value="{{app_engine}}" {% if engine == app_engine %} selected="selected" {% endif %}>{{app.engines[app_engine].name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="column col-3">
      <!-- form switch control -->
      <label class="form-switch switch-lg">
        <input type="checkbox" id="debug" name="debug" {% if debug == 'on' %} checked="checked" {% endif %}/>
        <i class="form-icon"></i> Learn mode
      </label>
    </div>
  </div>
</form>

{% if results|length > 0 %}

<div class="container">
  <small>{{ numDocs }} results ({{ time|round(2) }} seconds)</small>
</div>

<br>

{% if debug == 'on' %}
<div class="container">
  <div id="learn" class="panel">
    <div class="panel-header text-center">
      <figure class="avatar avatar-lg">
        <img src="{{ app.router.static.url(filename='img/hexagon-2307348.svg') }}">
      </figure>
      <div class="panel-title mt-10">Learn Mode</div>
      <div class="panel-subtitle">EXPLORE, UNDERSTAND, ANALYZE</div>
    </div>

    <nav class="panel-nav">
      <ul class="tab tab-block">
        {% if index_type in ['gow', 'goe'] %}
        <li class="tab-item">
          <a href="#score-components-plot">
            Parallel Coordinates Plot: Score Components
          </a>
        </li>
        {% endif %}
        <li class="tab-item">
          <a href="#score-explanation">
            Score
          </a>
        </li>
        <li class="tab-item">
          <a href="#dataset">
            Dataset
          </a>
        </li>
        <li class="tab-item">
          <a href="#results">
            Results
          </a>
        </li>
      </ul>
    </nav>

    <div class="panel-body">
      {% if index_type in ['gow', 'goe'] %}
      <div id="score-components-plot" class="parcoords tab-content d-hide"></div>
      {% endif %}

      <div id="score-explanation" class="tab-content container d-hide">
        <div class="column">
          {% if index_type == 'gow' %}
          <dl>
            <dt>TW-IDF</dt>
            <dd>
              TW-IDF is calculated using the indegree of the nodes that match each query term in the graph-of-word for each document as the term weight (TW). The formula used is the following:

              $$TW\text{-}IDF(q, d) = \sum_{t \in q}^d \left( \frac{tw(t, d)}{1 - b + b \times \frac{|d|}{avdl}} \times log \frac{N + 1}{df(t)} \right)$$

              Where:
              <ul>
                <li>$b = 0.003$,</li>
                <li>$tw(t, d)$ is the indegree of the node for term $t$, in the graph-of-word, for document $d$,</li>
                <li>$|d|$ is the document length,</li>
                <li>$avdl$ is the average document length for the whole corpus,</li>
                <li>$N$ is the size of the corpus,</li>
                <li>$df(t)$ is the document frequency of term $t$, i.e. the number of documents that contain term $t$.</li>
              </ul>
            </dd>

            <dt>Doc ID</dt>
            <dd>Doc ID can be a number or a string, but it must be a unique identifier for documents (e.g. a URI).</dd>

            <dt>Paper</dt>
            <dd>
              <blockquote>
                <p>François Rousseau and Michalis Vazirgiannis. 2013. Graph-of-word and TW-IDF: new approach to ad hoc
                  IR. In Proceedings of the 22nd ACM international conference on Information &amp; Knowledge
                  Management (CIKM '13). ACM, New York, NY, USA, 59-68.
                  DOI=http://dx.doi.org/10.1145/2505515.2505671</p>
                <cite><a href="http://dl.acm.org/citation.cfm?id=2505671" target="_blank">ACM Digital Library</a></cite>
              </blockquote>
            </dd>
          </dl>

          {% else %}

          <span class="label label-error">There is no information about this ranking function.</span>

          {% endif %}
        </div>
      </div>

      <div id="dataset" class="tab-content d-hide">
        <div class="container">
          <div class="column">
            {% if dataset == 'wikipedia_data' %}

            <dl>
              <dt>Source</dt>
              <dd>
                <a href="http://cs.iit.edu/~culotta/data/wikipedia.html" target="_blank">
                  Wikipedia Relation Extraction Data v1.0
                </a>
              </dd>
              
              <dt>Description</dt>
              <dd>
                <i>
                  "This data contains Wikipedia pages for which links between pages have been annotated with a
                  relation type, e.g. father, education, superior, etc. This data was created in collaboration
                  between the University of Massachusetts and Google, Inc."
                </i>
              </dd>

              <dt>Example</dt>
              <dd>
                <code>url=http://en.wikipedia.org/wiki/Charles_Darwin
                  In recognition of Darwin's pre-eminence, he was buried in &lt;a href="/wiki/Westminster_Abbey" title="Westminster Abbey" relation="death_place"&gt;Westminster Abbey&lt;/a&gt;, close to &lt;a href="/wiki/William_Herschel" title="William Herschel"&gt;William Herschel&lt;/a&gt; and &lt;a href="/wiki/Isaac_Newton" title="Isaac Newton"&gt;Isaac Newton&lt;/a&gt;.
                </code>
              </dd>

              <dt>Paper</dt>
              <dd>
                <blockquote>
                  <p>Aron Culotta, Andrew McCallum, and Jonathan Betz. 2006. Integrating probabilistic
                    extraction models and data mining to discover relations and patterns in text. In Proceedings
                    of the main conference on Human Language Technology Conference of the North American Chapter
                    of the Association of Computational Linguistics (HLT-NAACL '06). Association for
                    Computational Linguistics, Stroudsburg, PA, USA, 296-303.
                    DOI=http://dx.doi.org/10.3115/1220835.1220873</p>
                  <cite><a href="http://dl.acm.org/citation.cfm?id=1220873" target="_blank">ACM Digital Library</a></cite>
                </blockquote>
              </dd>
            </table>

            {% elif dataset == 'inex' %}

            <dl>
              <dt>Source</dt>
              <dd>
                <a href="http://inex.mmci.uni-saarland.de/data/documentcollection.html#wikipedia" target="_blank">
                  INEX Document Collections - Adhoc Track (2009-2010) and Wikipedia Collection (2009-)
                </a>
              </dd>

              <dt>Date</dt>
              <dd>
                October 8, 2008
              </dd>
              
              <dt>Description</dt>
              <dd>
                <i>
                  <p>"Starting in 2009, INEX uses a new document collection based on the Wikipedia. The original Wiki
                    syntax has been converted into XML, using both general tags of the layout structure (like
                    article, section, paragraph, title, list and item), typographical tags (like bold, emphatic),
                    and frequently occurring link-tags. The annotation is enhanced with semantic markup of articles
                    and outgoing links, based on the semantic knowledge base YAGO, explicitly labeling more than
                    5,800 classes of entities like persons, movies, cities, and many more. For a more technical
                    description of a preliminary version of this collection, see [9].</p>

                  <p>The collection was created from the October 8, 2008 dump of the English Wikipedia articles and
                    incorporates semantic annotations from the 2008-w40- 2 version of YAGO. It contains 2,666,190
                    Wikipedia articles and has a total uncompressed size of 50.7 Gb. There are 101,917,424 XML
                    elements of at least 50 characters (excluding white-space)."</p>
                </i>
              </dd>

              <dt>Example</dt>
              <dd>
                <code>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
                  &lt;!-- generated by CLiX/Wiki2XML [MPI-Inf, MMCI@UdS] $LastChangedRevision: 92 $ on 16.04.2009 22:55:41[mciao0825] --&gt;
                  &lt;!DOCTYPE article SYSTEM &quot;../article.dtd&quot;&gt;
                  &lt;article xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot;&gt;
                  &lt;person  confidence=&quot;0.9638700866880419&quot; wordnetid=&quot;100007846&quot;&gt;
                  &lt;header&gt;
                  &lt;title&gt;Johnny Burke&lt;/title&gt;
                  &lt;id&gt;7577000&lt;/id&gt;
                  &lt;revision&gt;
                  &lt;id&gt;224802323&lt;/id&gt;
                  &lt;timestamp&gt;2008-07-10T14:04:46Z&lt;/timestamp&gt;
                  &lt;contributor&gt;
                  &lt;username&gt;Lightbot&lt;/username&gt;
                  &lt;id&gt;7178666&lt;/id&gt;
                  &lt;/contributor&gt;
                  &lt;/revision&gt;
                  &lt;categories&gt;
                  &lt;category&gt;Newfoundland and Labrador musicians&lt;/category&gt;
                  &lt;category&gt;Pre-Confederation Newfoundland and Labrador people&lt;/category&gt;
                  &lt;category&gt;1930 deaths&lt;/category&gt;
                  &lt;category&gt;People from Newfoundland&lt;/category&gt;
                  &lt;category&gt;1851 births&lt;/category&gt;
                  &lt;/categories&gt;
                  &lt;/header&gt;
                  &lt;bdy&gt;

                  For the &lt;body wordnetid=&quot;107965085&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;social_group wordnetid=&quot;107950920&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;political_orientation wordnetid=&quot;106212839&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;colony wordnetid=&quot;108374049&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;state wordnetid=&quot;108168978&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;political_unit wordnetid=&quot;108359949&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;group wordnetid=&quot;100031264&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;democracy wordnetid=&quot;106217103&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;link xlink:type=&quot;simple&quot; xlink:href=&quot;../750/3434750.xml&quot;&gt;
                  American&lt;/link&gt;&lt;/democracy&gt;
                  &lt;/group&gt;
                  &lt;/political_unit&gt;
                  &lt;/state&gt;
                  &lt;/colony&gt;
                  &lt;/political_orientation&gt;
                  &lt;/social_group&gt;
                  &lt;/body&gt;
                  lyricist who died in 1964, see &lt;physical_entity wordnetid=&quot;100001930&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;songwriter wordnetid=&quot;110624540&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;composer wordnetid=&quot;109947232&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;communicator wordnetid=&quot;109610660&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;person wordnetid=&quot;100007846&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;lyricist wordnetid=&quot;110277912&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;musician wordnetid=&quot;110339966&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;causal_agent wordnetid=&quot;100007347&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;artist wordnetid=&quot;109812338&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;writer wordnetid=&quot;110794014&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;creator wordnetid=&quot;109614315&quot; confidence=&quot;0.8&quot;&gt;
                  &lt;link xlink:type=&quot;simple&quot; xlink:href=&quot;../007/690007.xml&quot;&gt;
                  Johnny Burke (lyricist)&lt;/link&gt;&lt;/creator&gt;
                  &lt;/writer&gt;
                  &lt;/artist&gt;
                  &lt;/causal_agent&gt;
                  &lt;/musician&gt;
                  &lt;/lyricist&gt;
                  &lt;/person&gt;
                  &lt;/communicator&gt;
                  &lt;/composer&gt;
                  &lt;/songwriter&gt;
                  &lt;/physical_entity&gt;
                  .
                  ----
                  &lt;image location=&quot;right&quot; width=&quot;150px&quot; src=&quot;Johnny_burke_(1851-1930).jpg&quot; type=&quot;thumb&quot;&gt;
                  &lt;caption&gt;

                  Johnny Burke at the St. John's regatta in 1903
                  &lt;/caption&gt;
                  &lt;/image&gt;
                  &lt;p&gt;

                  &lt;b&gt;Johnny Burke&lt;/b&gt; (1851 - 1930) was a &lt;country wordnetid=&quot;108544813&quot; confidence=&quot;0.9508927676800064&quot;&gt;
                  &lt;link xlink:type=&quot;simple&quot; xlink:href=&quot;../561/697561.xml&quot;&gt;
                  Newfoundland&lt;/link&gt;&lt;/country&gt;
                  songwriter and musician.  He was nicknamed the 'Bard of Prescott Street'.  He wrote many popular songs that artists in the 1930s and 1940s released.&lt;/p&gt;</code>
              </dd>

              <dt>Paper</dt>
              <dd>
                <blockquote>
                  <p>Geva S., Kamps J., Lethonen M., Schenkel R., Thom J.A., Trotman A. (2010) Overview of the
                    INEX 2009 Ad Hoc Track. In: Geva S., Kamps J., Trotman A. (eds) Focused Retrieval and
                    Evaluation. INEX 2009. Lecture Notes in Computer Science, vol 6203. Springer, Berlin,
                    Heidelberg</p>
                  <cite><a href="https://link.springer.com/chapter/10.1007/978-3-642-14556-8_4" target="_blank">Springer Link</a></cite>
                </blockquote>
              </dd>
            </table>

            {% else %}

            <span class="label">There is no information about this dataset.</span>

            {% endif %}
          </div>
        </div>
      </div>

      <div id="results" class="tab-content d-hide">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-right">Rank</th>

              {% if index_type == 'gow' %}
              <th title="Term Weight x Inverse Document Frequency" class="text-right">TW-IDF(q, d)</th>
              {% elif index_type == 'goe' %}
              <th title="Entity Weight x Term Entity Frequency" class="text-right">EW-TEF(q, e)</th>
              {% else %}
              <th class="text-right">Score(q, d)</th>
              {% endif %}

              <th>Doc ID</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
            <tr>
              <td class="text-right">{{ loop.index }}</td>
              <td class="text-right"> {{ '%f' % result.score|float }} </td>
              <td>{{ result.docID }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if debug == 'off' %}
<div class="contained">
  <div class="column">
    <table class="table table-striped table-hover">
      <tbody>
        {% for result in results %}
        <tr>
          {% if result.docID in metadata %}

          <td> <div class="image" style="background-image: url('{{
              metadata[result.docID].img_url or app.router.static.url(filename='img/thumbnail_placeholder.png') }}')"></div> </td>
          <td> <a href="{{ metadata[result.docID].url }}" target="_blank">{{ metadata[result.docID].name }}</a> </td>

          {% else %}

          <td> <div class="image" style="background-image: url('{{
              app.router.static.url(filename='img/thumbnail_placeholder.png') }}')"></div> </td>
          <td> <a href="{{ result.docID if result.docID.startswith('http') else '#' }}" target="_blank">{{ result.docID }}</a> </td>

          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% if debug == 'off' and offset is not none and pages > 1 %}

<ul class="pagination" style="justify-content: center">
  <li class="page-item">
    <a href="{{ page_link(page-1, limit) }}" {% if offset == 0 %} disabled tabindex="-1" {% endif %} }}>Previous</a>
  </li>

  {% if page-border_pages > 1 %}
  <li class="page-item">
    <a href="{{ page_link(1, limit) }}">1</a>
  </li>
  {% endif %}

  {% if page-border_pages > 2 %}
  <li class="page-item">
    <span>...</span>
  </li>
  {% endif %}

  {% for p in range(page-border_pages if page-border_pages > 0 else 1, (page+border_pages if page+border_pages <= pages else pages)+1) %}
  {% if p == page %}
  
  <li class="page-item active">
    <a href="#">{{p}}</a>
  </li>
  
  {% else %}
  
  <li class="page-item">
    <a href="{{ page_link(p, limit) }}">{{p}}</a>
  </li>
  
  {% endif %}
  {% endfor %}

  {% if pages > page+border_pages+1 %}
  <li class="page-item">
    <span>...</span>
  </li>
  {% endif %}
  
  {% if pages > page+border_pages %}
  <li class="page-item">
    <a href="{{ page_link(pages, limit) }}">{{pages}}</a>
  </li>
  {% endif %}
  
  <li class="page-item">
    <a href="{{ page_link(page+1, limit) }}" {% if page == pages %} disabled tabindex="-1" {% endif %}>Next</a>
  </li>
</ul>
{% endif %}

{% elif error %}

<div class="container">
  <div class="empty">
    <div class="empty-icon">
      <i class="icon icon-stop"></i>
    </div>
    <h4 class="empty-title">Error</h4>
    <p class="empty-subtitle">{{ error }}</p>
  </div>
</div>

{% else %}

<div class="container">
  {% if query %}
  <div class="empty">
    <div class="empty-icon">
      <i class="icon icon-search"></i>
    </div>
    <h4 class="empty-title">No results found</h4>
    <p class="empty-subtitle">Try to search for something else.</p>
  </div>
  {% else %}
  <div class="empty">
    <div class="empty-icon">
      <i class="icon icon-search"></i>
    </div>
    <h4 class="empty-title">Please insert a query in order to search for documents/entities.</h4>
    <p class="empty-subtitle">
      <b>You can also select a different engine or enable/disable learn mode.</b> If
      there are no engines available in the drop down, please implement your own
      first and index your document collection.
    </p>
  </div>
  {% endif %}
</div>

{% endif %}

<br>
<br>

<script type="text/javascript">
  (function() {
    document.getElementById("query").focus();

    $('#learn .tab-item:first-child').addClass('active');
    $('#learn .tab-content:first-child').removeClass('d-hide');
    
    $('#learn .tab-item a').on('click', function(e) {
      $('#learn .tab-item').removeClass('active');
      $(this).parent('.tab-item').addClass('active');
      var tabContentID = $(this).attr('href');
      $('.tab-content').addClass('d-hide');
      $(tabContentID).removeClass('d-hide');
      return false;
    });

    var visScoreComponents = new ScoreComponents({{ results }}, '#score-components-plot');
    visScoreComponents.render();
  })();
</script>
{% endblock %}
