{% extends "home.html" %}
{% block title %}
{{ query if query else "Search"}}
{% endblock %}

{% set border_pages = 2 %}
{% set index_type = engine.split('-')[0] %}
{% set dataset = engine.split('-')[1] %}

{% block content %}
<form class="form-horizontal">
  <div class="form-group">
    <div class="column col-mr-auto">
      <!-- form input control -->
      <div class="input-group">
        <select class="form-select" id="task" name="task">
          <option value="DOCUMENT_RETRIEVAL">Documents</option>
          <option value="ENTITY_RETRIEVAL" disabled>Entities</option>
          <option value="TERM_RETRIEVAL" disabled>Terms</option>
        </select>
        <input class="form-input" type="text" id="query" name="query" placeholder="Search" value="{{ query if query }}" />
        <button class="btn btn-primary btn input-group-btn">Search</button>
      </div>
    </div>

    <div class="column col-3">
      <!-- form switch control -->
      <label class="form-switch">
        <input type="checkbox" id="debug" name="debug" {% if debug == 'on' %} checked="checked" {% endif %}/>
        <i class="form-icon"></i> Learn mode
      </label>
    </div>
  </div>

  {% include 'search/engine.html' %}
</form>

{% if results|length > 0 %}


<div class="container">
  <small>{{ numDocs }} results ({{ time|round(2) }} seconds)</small>
</div>

<br>

{% if debug == 'on' %}

{% include 'search/debug.html' %}

{% else %}

{% include 'search/results.html' %}

{% if offset is not none and pages > 1 %}
{% include 'search/paginator.html' %}
{% endif %}

{% endif %}


{% elif error %}


<div class="container">
  <div class="empty">
    <div class="empty-icon">
      <i class="icon icon-2x icon-stop"></i>
    </div>
    <h4 class="empty-title">Error</h4>
    <p class="empty-subtitle">{{ error }}</p>
  </div>
</div>


{% else %}


<div class="container">
  {% if query %}
  <div class="empty">
    <div class="empty-icon">
      <i class="icon icon-2x icon-search"></i>
    </div>
    <h4 class="empty-title">No results found</h4>
    <p class="empty-subtitle">Try to search for something else.</p>
  </div>
  {% else %}
  <div class="empty">
    <div class="empty-icon">
      <i class="icon icon-2x icon-search"></i>
    </div>
    <h4 class="empty-title">Please insert a query in order to search for documents/entities.</h4>
    <p class="empty-subtitle">
      <b>You can also select a different engine or enable/disable learn mode.</b> If
      there are no engines available in the drop down, please implement your own
      first and index your document collection.
    </p>
  </div>
  {% endif %}
</div>


{% endif %}

<br>
<br>

<script type="text/javascript">
  (function() {
    document.getElementById("query").focus();
  })();
</script>
{% endblock %}
