{% extends "home.html" %}
{% block title %}
{{ query if query else "Search"}}
{% endblock %}

{% set border_pages = 2 %}
{% set index_type = engine.split('-')[0] %}
{% set dataset = engine.split('-')[1] %}

{% block content %}
<form class="form-horizontal">
  <div class="form-group">
    <div class="column col-9">
      <!-- form input control -->
      <div class="input-group">
        <input class="form-input" type="text" id="query" name="query" placeholder="Search" value="{{ query if query }}" />
        <button class="btn btn-primary btn input-group-btn">Search</button>
      </div>
    </div>

    <div class="column col-3">
      <!-- form switch control -->
      <label class="form-switch">
        <input type="checkbox" id="debug" name="debug" {% if debug == 'on' %} checked="checked" {% endif %}/>
        <i class="form-icon"></i> Learn mode
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="column col-3">
      <!-- form radio control -->
      <select class="form-select" id="engine" name="engine">
        {% for app_engine in app.engines %}
        <option value="{{app_engine}}" {% if engine == app_engine %} selected="selected" {% endif %}>
          {{app.engines[app_engine].name}}
        </option>
        {% endfor %}
      </select>
    </div>

    <div class="column col-3">
      <!-- form radio control -->
      <select class="form-select" id="ranking-function" name="ranking_function">
        <!-- Dynamically loaded -->
      </select>
    </div>

    <div class="column col-6">
      <div id="ranking-params" class="columns">
        <!-- Dynamically loaded -->
      </div>
    </div>
  </div>
</form>

{% if results|length > 0 %}


<div class="container">
  <small>{{ numDocs }} results ({{ time|round(2) }} seconds)</small>
</div>

<br>

{% if debug == 'on' %}

{% include 'search/debug.html' %}

{% else %}

{% include 'search/results.html' %}

{% if offset is not none and pages > 1 %}
{% include 'search/paginator.html' %}
{% endif %}

{% endif %}


{% elif error %}


<div class="container">
  <div class="empty">
    <div class="empty-icon">
      <i class="icon icon-2x icon-stop"></i>
    </div>
    <h4 class="empty-title">Error</h4>
    <p class="empty-subtitle">{{ error }}</p>
  </div>
</div>


{% else %}


<div class="container">
  {% if query %}
  <div class="empty">
    <div class="empty-icon">
      <i class="icon icon-2x icon-search"></i>
    </div>
    <h4 class="empty-title">No results found</h4>
    <p class="empty-subtitle">Try to search for something else.</p>
  </div>
  {% else %}
  <div class="empty">
    <div class="empty-icon">
      <i class="icon icon-2x icon-search"></i>
    </div>
    <h4 class="empty-title">Please insert a query in order to search for documents/entities.</h4>
    <p class="empty-subtitle">
      <b>You can also select a different engine or enable/disable learn mode.</b> If
      there are no engines available in the drop down, please implement your own
      first and index your document collection.
    </p>
  </div>
  {% endif %}
</div>


{% endif %}

<br>
<br>

<script type="text/javascript">
  (function() {
    var engines = {{ app['engines']|tojson }};
    var rankingFunction = {% if rankingFunction %} '{{ rankingFunction }}' {% else %} null {% endif %};

    function updateRankingFunctions() {
      var engine = $('#engine').val();
      var defaultFunc = { 'id': 'default', 'name': 'Default'};
      var funcs = [defaultFunc];

      if (engines[engine].ranking) {
        defaultFunc = engines[engine].ranking.default.id;
        funcs = engines[engine].ranking.functions;
      }

      $('#ranking-function').empty();

      for (var func in funcs) {
        var $func = $('<option>')
          .attr('value', func)
          .text(funcs[func].name);

        if (rankingFunction) {
          if (func == rankingFunction) {
            $func.attr('selected', 'selected');
          }
        } else if (func == defaultFunc) {
          $func.attr('selected', 'selected');
        }

        $('#ranking-function').append($func);
      }
    }

    function updateRankingParameters() {
      var engine = $('#engine').val();
      var rankingFunction = $('#ranking-function').val();
      var defaultParams = {};
      var params = [];

      if (engines[engine].ranking) {
        defaultParams = engines[engine].ranking.default.params;
        params = engines[engine].ranking.functions[rankingFunction].params;
      }

      $('#ranking-params').empty();

      for (var param in params) {
        var $select = $('<select>')
          .addClass('form-select')
          .attr('id', 'ranking-param-' + param)
          .attr('name', 'ranking_param_' + param);

        var $column = $('<div>')
          .addClass('column')
          .append($select);

        $('#ranking-params').append($column);

        for (var i=0; i < params[param].length; i++) {
          var $param = $('<option>')
            .attr('value', params[param][i])
            .text(params[param][i]);
          $select.append($param);

          if (defaultParams[param] && params[param][i] == defaultParams[param]) {
              $param.attr('selected', 'selected');
          }
        }
      }
    }

    updateRankingFunctions();
    updateRankingParameters();

    $(document).on('change', '#engine', function(e) {
      updateRankingFunctions();
      updateRankingParameters();
    });

    document.getElementById("query").focus();
  })();
</script>
{% endblock %}
