body {
  margin-bottom: 5em;
}

code {
  font-size: 0.9em;
  line-height: 1.5;
  white-space: pre-line;
  max-height: 30vh;
  overflow-y: auto;
}

.bg-gray {
  background: #f8f9fa;
  color: #667189;
  padding: 1rem;
}

.global-message {
  position: absolute;
  width: 960px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100000;
}

.section-header {
  padding: 1rem .5rem;
  margin-bottom: 1rem;
  width: 100%;
  z-index: 200;
}

/*.empty .icon {*/
  /*font-size: 2rem;*/
/*}*/

.logo {
  margin-left: 1ex;
  margin-right: 1ex;
  width: 30px;
  height: 30px;
  display: block;
  background-image: url('../img/ant_army_logo_2.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-lg {
  margin: auto;
  width: 300px;
  height: 300px;
}

.message {
  margin-top: 1em !important;
}

.form-horizontal {
  padding-left: 0;
  padding-right: 0;
}

.form-select {
  width: 100% !important;
}

.table.table-two {
  background-color: #f7f7f7;
  font-size: 0.82em;
}

.image {
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: cover;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-left: 1ex;
}

#score-components-plot {
  margin: 1em 0 2em 0;
}

.wide-table {
  /* same width as grid-lg */
  width: 976px !important;
  overflow-x: auto;
}
