.header {
  line-height: 2em;
}

.logo {
  width: 100px;
  height: 100px;
  display: block;
  background-image: url('../img/ant_army_logo_2.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.message {
  margin-top: 1em !important;
}

.form-horizontal {
  padding-left: 0;
  padding-right: 0;
}

.form-select {
  width: 100% !important;
}

.switch-lg {
  line-height: 3rem;
  font-size: 1.6rem;
}
.switch-lg .form-icon {
  top: .8rem;
}

.image {
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: cover;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

#score-components-plot {
  height: 200px;
  margin: 1em 0 2em 0;
}
