<div class="container">
  <div id="learn" class="panel">
    <div class="panel-header text-center">
      <figure class="avatar">
        <img src="{{ app.router.static.url(filename='img/hexagon-2307348.svg') }}">
      </figure>
      <div class="panel-title mt-10">Learn Mode</div>
      <div class="panel-subtitle">EXPLORE, UNDERSTAND, ANALYZE</div>
    </div>

    <nav class="panel-nav">
      <ul class="tab tab-block">
        <li class="tab-item active">
          <a href="#results">
            Results
          </a>
        </li>
        {% if results and results|length > 0 and results[0]['components'] %}
        <li class="tab-item">
          <a href="#score-components-plot">
            Score Components
          </a>
        </li>
        {% endif %}
        <li class="tab-item">
          <a href="#trace">
            Trace
          </a>
        </li>
        <li class="tab-item">
          <a href="#score-explanation">
            Model
          </a>
        </li>
        <li class="tab-item">
          <a href="#dataset">
            Collection
          </a>
        </li>
      </ul>
    </nav>

    <div class="panel-body">
      <div id="trace" class="tab-content d-hide">
        {% include 'search/debug/trace.j2' %}
      </div>

      <div id="results" class="tab-content d-hide">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-right">Rank</th>

              {% if index_type == 'gow' %}
              <th title="Term Weight x Inverse Document Frequency" class="text-right">TW-IDF(q, d)</th>
              {% elif index_type == 'goe' %}
              <th title="Entity Weight x Term Entity Frequency" class="text-right">EW-TEF(q, e)</th>
              {% else %}
              <th class="text-right">Score(q, d)</th>
              {% endif %}

              <th>Node ID</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
            <tr>
              <td class="text-right">{{ loop.index }}</td>
              <td class="text-right"> {{ '%f' % result.score|float }} </td>
              <td>{{ result.id }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% if index_type in ['gow', 'goe'] %}
      <div id="score-components-plot" class="parcoords tab-content d-hide"></div>
      {% endif %}

      <div id="score-explanation" class="tab-content container d-hide">
        <div class="column">
          {% if index_type|ranking_model_page_exists %}
          {% include 'search/debug/ranking_models/%s.j2' % index_type %}
          {% else %}
          <span class="label label-warning">There is no information about this model.</span>
          {% endif %}
        </div>
      </div>

      <div id="dataset" class="tab-content d-hide">
        <div class="container">
          <div class="column">
            {% if dataset|collection_page_exists %}
            {% include 'search/debug/collections/%s.j2' % dataset %}
            {% else %}
            <span class="label label-warning">There is no information about this collection.</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function() {
    var $activeTab = $('#learn .tab-item.active');
    var tabContentID = $activeTab.find('a').first().attr('href');
    $activeTab.addClass('active');
    $(tabContentID).removeClass('d-hide');
    
    $('#learn .tab-item a').on('click', function(e) {
      e.preventDefault();

      $('#learn .tab-item').removeClass('active');
      $(this).parent('.tab-item').addClass('active');
      var tabContentID = $(this).attr('href');
      $('.tab-content').addClass('d-hide');
      $(tabContentID).removeClass('d-hide');
    });

    $(document).on('click', '[href="#score-components-plot"]', function(e) {
      var visScoreComponents = new ScoreComponents({{ results|results_to_json }}, '#score-components-plot');
      visScoreComponents.render();
    });
  })();
</script>
