<div class="form-group">
  {% if is_evaluation %}
  <div class="col-1">
    <label class="form-label label-sm" for="engine">Engine</label>
  </div>
  {% endif %}

  <div class="column">
    <!-- form radio control -->
    <select class="form-select select-sm" id="engine" name="engine">
      {% for app_engine in app.engines %}
      <option value="{{app_engine}}" {% if engine == app_engine %} selected="selected" {% endif %}>
        {{app.engines[app_engine].name}}
      </option>
      {% endfor %}
    </select>
  </div>

  {% if is_evaluation %}
  <div class="col-1 d-hide">
    <label class="form-label label-sm" for="engine">Ranking</label>
  </div>
  {% endif %}

  <div class="column d-hide">
    <!-- form radio control -->
    <select class="form-select select-sm" id="ranking-function" name="ranking_function">
      <!-- Dynamically loaded -->
    </select>
  </div>
</div>

<div class="form-group">
  <div class="column">
    <div id="ranking-params" class="columns">
      <!-- Dynamically loaded -->
    </div>
  </div>
</div>

<div class="column d-hide">
  <table class="table table-striped table-sm" id="ranking-function-info">
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Information</ht>
      </tr>
    </thead>

    <tbody>
      <!-- Dynamically loaded -->
    </tbody>
  </table>
</div>

<script type="text/javascript">
  (function() {
    var engines = {{ app['engines']|dump_json }};
    var queryParams = getQueryStrings();
    var rankingFunction = queryParams.ranking_function;
    var rankingParams = {};

    queryParamNames = Object.keys(queryParams);
    for (var i=0; i < queryParamNames.length; i++) {
      if (queryParamNames[i].startsWith('ranking_param_')) {
        var parts = queryParamNames[i].split('_');
        rankingParams[parts[2]] = queryParams[queryParamNames[i]];
      }
    }

    function updateRankingFunctions() {
      var engine = $('#engine').val();
      var defaultFunc = { 'id': 'default', 'name': 'Default'};
      var funcs = [];

      if (engines[engine].ranking) {
        defaultFunc = engines[engine].ranking.default.id;
        funcs = engines[engine].ranking.functions;
      }

      $('#ranking-function').empty();

      if (Object.keys(funcs).length > 0) {
        $('#ranking-function').parent('.column').removeClass('d-hide');
        $('#ranking-function').parent('.column').prev('.col-1').removeClass('d-hide');

        for (var func in funcs) {
          var $func = $('<option>')
            .attr('value', func)
            .text(funcs[func].name);

          if (rankingFunction) {
            if (func == rankingFunction) {
              $func.attr('selected', 'selected');
            }
          } else if (func == defaultFunc) {
            $func.attr('selected', 'selected');
          }

          $('#ranking-function').append($func);
        }
      } else {
        $('#ranking-function').parent('.column').addClass('d-hide');
        $('#ranking-function').parent('.column').prev('.col-1').addClass('d-hide');
      }
    }

    function updateRankingParameters() {
      var engine = $('#engine').val();
      var rankingFunction = $('#ranking-function').val();
      var defaultParams = {};
      var params = [];

      if (engines[engine].ranking) {
        defaultParams = engines[engine].ranking.default.params;
        if (engines[engine].ranking.functions[rankingFunction]) {
          params = engines[engine].ranking.functions[rankingFunction].params;
        }
      }

      $('#ranking-params').empty();

      for (var param in params) {
        var $formGroup = $('<div>')
          .addClass('form-group');

        var $label = $('<label>')
          .addClass('form-label label-sm')
          .attr('for', 'ranking_param_' + param)
          .text(param);

        var $select = $('<select>')
          .addClass('form-select select-sm')
          {% if is_evaluation %}
          .attr('multiple', 'multiple')
          .css('height', '8em')
          {% endif %}
          .attr('id', 'ranking-param-' + param)
          .attr('name', 'ranking_param_' + param);

        $('<div>').addClass('col-5').append($label).appendTo($formGroup);
        $('<div>').addClass('col-7').append($select).appendTo($formGroup);

        var $column = $('<div>')
          .addClass('column col-3')
          .css('margin-bottom', '.5em')
          .append($formGroup);

        $('#ranking-params').append($column);

        for (var i=0; i < params[param].length; i++) {
          if (params[param][i] instanceof Object) {
            var $param = $('<option>')
              .attr('value', JSON.stringify(params[param][i]))
              .text(params[param][i].type);
          } else {
            var $param = $('<option>')
              .attr('value', params[param][i])
              .text(params[param][i]);
          }

          $select.append($param);

          {% if is_evaluation %}
          $param.attr('selected', 'selected');
          {% else %}
          if (param in rankingParams) {
            if(params[param][i].toString() == rankingParams[param].toString()) {
              $param.attr('selected', 'selected');
            }
          } else if (defaultParams && param in defaultParams && params[param][i] == defaultParams[param]) {
            $param.attr('selected', 'selected');
          }
          {% endif %}
        }
      }
    }

    function updateRankingParamInfo() {
      var engine = $('#engine').val();
      var rankingFunction = $('#ranking-function').val();

      $('#ranking-function-info')
        .parent()
        .addClass('d-hide');

      if (!(engine in engines) || !('ranking' in engines[engine]) || !('functions' in engines[engine].ranking)) {
        return;
      }

      var data = engines[engine].ranking.functions[rankingFunction];

      if ('info' in data) {
        $('#ranking-function-info')
          .parent()
          .removeClass('d-hide');

        for (var param in data.info) {
          var $tdParam = $('<td>')
            .text(param);

          var $tdInfo = $('<td>')
            .text(data.info[param]);

          var $tr = $('<tr>')
            .append($tdParam)
            .append($tdInfo);

          $('#ranking-function-info tbody')
            .append($tr);
        }
      }
    }

    updateRankingFunctions();
    updateRankingParameters();
    updateRankingParamInfo();

    $(document).on('change', '#engine', function(e) {
      updateRankingFunctions();
      updateRankingParameters();
      updateRankingParamInfo();
    });

    $(document).on('change', '#ranking-function', function(e) {
      updateRankingParameters();
      updateRankingParamInfo();
    });
  })();
</script>
